nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  display: flex;
  justify-content: center;
  padding: 10px 30px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.menu li a:hover {
  color: #ffdf00;
}

.menu-toggle{
  display: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.hamburger div {
  background-color: white;
  height: 3px;
  border-radius: 2px;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
    margin-right: auto;
  }

  .menu {
    position: absolute;
    top: 25px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.95);
    flex-direction: column;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .menu-toggle:checked ~ .menu {
    max-height: 300px;
    padding: 10px 0;
  }

  .menu li {
    text-align: center;
    padding: 10px 0;
  }
}